*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  height: 100%;
}

$color-orange: #db4c3f;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #eee;

body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100%;
}


