*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  height: 100%;
}

.card{
  border-radius: 8px;
} 


$color-orange: #db4c3f;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #eee;
$color-grey: #7a7a7a;

body {
  font-family: "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  overflow-y: scroll;
}

.fa-plus{
  color: $color-orange;
}


